@model Eitan.Models.Artist

@{
    ViewBag.Title = Model.Title;
}

<h2>עריכת @Model.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    
    @Html.Partial("_CreateOrEdit", Model)
    <p>
        <input type="submit" value="שמירה" />
    </p>
}

<div>
    @Html.ActionLink("בחזרה לאמנים", "Index")
</div>
