@model IEnumerable<Eitan.Models.Artist>

@using Eitan.Web.Models
@{
    ViewBag.Title = "אמנים";
}

<h2>אמנים</h2>

<p>
    @Html.ActionLink("הוספת אמן", "Create")
</p>
<table>
    <thead>
        <tr>
            <th></th>
            <th>שם
            </th>
            <th>תאריך 
            </th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var item in Model)
        {
        
            <tr class="@{if ((i++ % 2) == 0)
                         {<text>normal-tr-item</text>}
                         else
                         {<text>alternate-tr-item</text>}} ">
                <td class="td-edit">
                    @Html.ActionLink("עריכה", "Edit", new { id = item.ID }) |
                @Html.ActionLink("מחיקה", "Delete", new { id = item.ID })
                </td>
                <td width="250">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.Date_Creation.ToString("dd/MM/yyyy")
                </td>
            </tr>
        }
    </tbody>
</table>
