@model Eitan.Web.Models.ContactModel

@{
    ViewBag.Title = "Contact Eitan";
}

@{
    ViewBag.FolderName = "Pages";
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@Html.Partial("_LeftColumnImages", (List<Eitan.Models.Picture>)ViewBag.LeftImages)

<div id="contact-page">
    <div class="details-title">
        @ViewBag.PageTitle
    </div>

    <div id="contact-info">
        @Html.Raw(ViewBag.PageContent)
    </div>

    @using (Ajax.BeginForm(new AjaxOptions { Url = "/Home/Contact", OnSuccess = "ContactSuccess(data);", HttpMethod = "POST" }))
    {
        @Html.ValidationSummary(true)
        <div class="contact-form">
            <div class="ui-input-area">
                <span class="ui-span">Message:</span>@Html.TextAreaFor(model => model.Message, 6, 28, null)
                @Html.ValidationMessageFor(model => model.Message)
            </div>

            <div class="ui-input">
                <span class="ui-span">Name:</span>
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="ui-input">
                <span class="ui-span">Email:</span>@Html.TextBoxFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>


            <p>
                <input type="submit" class="btnSendContact " value="send" />
            </p>
        </div>
    }
</div>

<script type="text/javascript">
    function ContactSuccess(data) {
        switch (data.code) {
            case 100:
                alert("Thank you for contacting Eitan, we will contact you back ASAP");
                window.location = "/";
                break;
            case 500:
            case 404:
            case 401:
                alert("Error, please try again later");
                break;
        }
    }

</script>
