@model IEnumerable<Eitan.Web.Models.ViewModelWithImage>

@{
    ViewBag.Title = "Discography";
}


<div id="releases-container" class="model-collection-container">
    <div class="releases-div">
        @foreach (var item in Model)
        {
            <div class="release-item model-item release-type-@item.TypeID" data-created="@item.Creation">
                <a href="~/Releases/Details/@item.ID">
                    <div class="portfolio-item-holder">
                        <div class="portfolio-item-hover-content">
                            <div class="portfolio-content-wrap" style="top: 150%;">
                                <div data-rel="prettyPhoto" class="zoom"></div>
                                <span class="portfolio-type">@item.Type </span>
                                <div class="portfolio-content-title">
                                    @item.SubTitle
                                </div>
                            </div>
                            <img class="model-item-image" src="~/Images/Releases/@item.ImagePath" alt="@item.Title" title="@item.Title" />
                            <div class="release-item-bar standard-list-bar">@item.Title</div>
                            <div class="hover-options" style="opacity: 0;"></div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    @if (ViewBag.isMoreItems)
    {
        <input type="button" class="btn-more-Releases btn-more" data-name="Releases" data-path="Releases" data-page="1" value="More Releases" style="display: block" />
    }
</div>

