@model Eitan.Web.Models.ViewModelWithImage

@{
    ViewBag.Title = "Details";
}

<h2>פרוייקט</h2>

<fieldset>
    <legend>@Model.Title</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImagePath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImagePath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_Creation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_Creation)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
