@model Eitan.Models.Project

@{
    ViewBag.Title = Model.Title;
}

<h2>עריכת @Model.Title</h2>

@using (Html.BeginForm("Edit", "Projects", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    
    @Html.Partial("_CreateOrEdit", Model)
    <p>
        <input type="submit" value="שמירה" />
    </p>
}

<div>
    @Html.ActionLink("בחזרה לפרויקטים", "Index")
</div>
