<li class="@ViewBag.ActiveHome"><a href="~/">Home</a></li>
<li class="@ViewBag.ActiveNews"><a href="~/News" class="AjaxLink"  rel="canonical" data-type="News">News</a></li>
<li class="@ViewBag.ActiveProjects"><a href="~/Projects" class="AjaxLink"  rel="canonical" data-type="Projects">Projects</a></li>
<li class="@ViewBag.ActiveStudio"><a href="~/h/Studio"  rel="canonical">Studio</a></li>
<li class="@ViewBag.ActiveReleases"><a href="~/Releases" class="AjaxLink"  rel="canonical" data-type="Releases">Discography</a></li>
<li class="@ViewBag.ActiveContact last_li"><a href="~/h/Contact"  rel="canonical">Contact</a></li>
