@model Eitan.Web.Models.Page

@{
    ViewBag.Title = Model.Title;
}

<h2>עמוד תוכן</h2>

<fieldset>
    <legend>@Model.Title</legend>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
